<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
 {{ title }}
  </h1>
</div>

<div class="container">
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a [routerLink]="['/crear']" class="btn btn-primary active" >
                  Agregar
                </a>
              </li>
                <li class="active">
                <a [routerLink]="['/inicio']" class="btn btn-primary active" >
                  Lista
                </a>
              </li>    
            </ul>
          </div>
    </nav>

<div class="row">


</div>
<router-outlet></router-outlet>
</div>
